<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>User Update</h1>

<form th:action="@{/admin/users/{id}(id=${user.id})}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />
    <h3>ID : <span th:text="*{userid}"></span></h3>
    <h3>Nickname : <input type="text" th:field="*{nickname}"></h3>

    <div th:if="${user.provider.toString() == 'LOCAL'}">
        <h3>Email : <input type="text" th:field="*{email}"></h3>
    </div>

    <div th:unless="${user.provider.toString() == 'LOCAL'}">
        <h3>Email :
            <span th:text="${user.email}"></span>
            <small>(소셜 로그인은 이메일을 변경할 수 없습니다)</small>
        </h3>
    </div>

    <h3>Role : <input type="text" th:field="*{role}"></h3>

    <input type="submit" value="수정">
    <a th:href="@{/admin/users}">취소</a> <br>
</form>
</body>
</html>