<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <style>
        h3 a {
            margin-left: 10px;
        }
    </style>
</head>
<body>

<h1>My profile</h1>

<div th:object="${user}">
    <h3 th:if="${user.provider.toString() == 'LOCAL'}">ID : <span th:text="*{userid}"></span></h3>

    <h3>Email : <span th:text="*{email}"></span>
        <a th:if="${user.provider.toString() == 'LOCAL'}" th:href="@{/users/me/update-email}">수정</a>
        <small th:unless="${user.provider.toString() == 'LOCAL'}">(소셜 로그인은 이메일을 변경할 수 없습니다)</small>
    </h3>

    <h3>Password : ******
        <a th:href="@{/users/me/update-password}">수정</a>
    </h3>

    <h3>Nickname : <span th:text="*{nickname}"></span>
        <a th:href="@{/users/me/update-nickname}">수정</a>
    </h3>

    <h3>Subscription-Tier : </h3>

    <a th:href="@{/users/me/delete-confirm}">회원 탈퇴</a>
</div>

<a th:href="@{/}">돌아가기</a> <br>

</body>
</html>